<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Тайпи</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("{{ url_for('static', filename='img/background.jpg') }}");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body class="relative flex flex-col min-h-screen font-montserrat">
    <nav
        class=" bg-medium-jungle-900/80 text-gray-300 rounded-b-2xl px-6 py-4 mx-4 flex justify-between items-center backdrop-blur-xs">
        <div class="flex items-center space-x-7 text-lg">
            <a href="{{ url_for('index') }}" class="text-2xl font-press-start text-bright-lemon-300">Тайпи</a>
            <a href="{{ url_for('leaderboard') }}" class="hover:text-white transition-colors duration-100">Таблица
                лидеров</a>
            <a href="{{ url_for('levels') }}" class="hover:text-white transition-colors duration-100">Обучение</a>
            <a href="{{ url_for('sandbox') }}" class="hover:text-white transition-colors duration-100">Песочница</a>
        </div>
        <div class="flex items-center space-x-4">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('profile', user_id=current_user.id) }}"
                class="text-white hover:text-bright-lemon-400 transition-colors duration-200 flex items-center gap-3">
                <span class="font-bold">{{ current_user.first_name }} {{ current_user.last_name }}</span>
                <img src="data:image/png;base64,{{ current_user.avatar_b64 }}" alt="Profile"
                    class="w-10 h-10 rounded-full object-cover border-2 border-bright-lemon-400 shadow-md">
            </a>
            {% else %}
            <a href="{{ url_for('login_form') }}"
                class="bg-bright-lemon-400 hover:bg-bright-lemon-600 text-gray-900 font-bold py-2 px-6 rounded-full font-montserrat transition-colors duration-200">
                Вход
            </a>
            <a href="{{ url_for('register_form') }}"
                class="bg-bright-lemon-400 hover:bg-bright-lemon-600 text-gray-900 font-bold py-2 px-6 rounded-full font-montserrat transition-colors duration-200">
                Регистрация
            </a>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <script>
        if (window.location.hash === '#login') {
            window.location.href = "{{ url_for('login_form') }}";
        } else if (window.location.hash === '#register') {
            window.location.href = "{{ url_for('register_form') }}";
        }
    </script>
</body>

</html>